@page
@model JKaur18ABCHardwareWebsite.Pages.DeleteItemModel
@{
    ViewData["Title"] = "DeleteItem";
}

<h1>Delete Item</h1>

<form method="post">

    <br />
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Item Code</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>@Model.InventoryItem.ItemCode</td>
                        <td>@Model.InventoryItem.Description</td>
                        <td>@Model.InventoryItem.UnitPrice</td>
                        @if (Model.InventoryItem.Deleted == true)
                        {
                            <td><div>Deactive</div></td>
                        }
                        else
                        {
                            <td><div>Active</div></td>
                        }
                    </tr>
                </table>
               
                <div class="col-sm-4"><button class="btn btn-success">Delete</button></div>

            </div>
    </div>

</form>