@page
@model JKaur18ABCHardwareWebsite.Pages.UpdateItemModel
@{
    ViewData["Title"] = "UpdateItem";
}

<h1>Update Item</h1>

<form method="post">

    <br />
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-body">
                <label>Item Code: @Model.InventoryItem.ItemCode</label>
            </div>
            <label>Description:</label>
            <div class="form-group">
                <input asp-for="@Model.InventoryItem.Description" name="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <label>Unit Price:</label>
            <div class="form-group">
                <input asp-for="@Model.InventoryItem.UnitPrice" name="UnitPrice" />
                <span asp-validation-for="Unitprice" class="text-danger"></span>
            </div>
            <div>
                Check to Activate Item &nbsp;
                <input asp-for="Active" onchange="document.getElementById('Update').disabled = this.checked;">
            </div>
            <div class="col-sm-4"><button class="btn btn-success">Update</button></div>

        </div>
    </div>

</form>